<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
<ul class="sidemenu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")></li>
</ul>
<div class="background" id="bOne" data-speed="5" data-type="background">
    @Html.Partial("../Home/About")
</div>
<div class="container body-content">
    @RenderBody()
</div>
<div class="background" id="bTwo" data-speed="10" data-type="background">
    <div class="container">
        @Html.Partial("_Buttons")
    </div>
</div>
<div class="container body-content">
    @Html.Partial("../Home/Contact");
</div>
<footer class="background" id="bThree">
    <p>&copy; @DateTime.Now.Year - ramzzzay@gmail.com</p>
</footer>

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>

<script>
    $(".sidemenu").fly_sidemenu({
        btnContent: "=", // This option let you define what appears inside the side menu button. You can add your custom icon here. This option accepts all HTML tags. The default value is "=" string.
        position: "left", // This option will let you define where the sidebar will appear on the page. Available options are "top", "left", "right", "bottom". The default value is "left"
        customSelector: "li", // In case you do not want to use lists, simply define your own css selector here. The default value is "li".
        hideButton: false // You can disable the auto creation of toggle button by changing this to true. The default value is false.
    });
</script>